<div class="container mt-60">
  <h2 class="product-line d-flex homepage-header">
    THE BRANDS
    <div class="divider-line"></div>
  </h2>
  <div class="row">
    <div class="col-sm-12 parts-tagline">
      Check out just a few of our curated brands.
    </div>
  </div>
  <div class="row d-none d-sm-flex">
    {% for block in section.blocks %}
      {% assign brand = collections[block.settings.recommended_brand] %}
        <div class="col-sm-2">
          <div class="card">
            <img src="{{ brand.image | img_url: "master" }}" alt="{{ brand.title }}" class="img-fluid">
          </div>
        </div>
    {% endfor %}
  </div>
  <div class="row d-sm-none">
  </div>
</div>

{% schema %}

{
  "name": "Our Brands",
  "class": "brands-section",
  "blocks": [
    {
      "type": "collection",
      "name": "Recommended Brand",
      "settings": [
        {
          "type": "collection",
          "id": "recommended_brand",
          "label": "Recommended Brand"
        }
      ]
    }
  ],
  "max_blocks": 12,
  "presets": [
    {
      "name": "Our Brands",
      "category": "Inventory List"
    }
  ]
}
{% endschema %}

{% stylesheet %}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}
