/*==============================================================================
  #Custom CSS
==============================================================================*/
.container {
  max-width: 960px;
}

.container-fluid {
  padding: 0px
}

.breadcrumb {
  border-bottom: none;
  padding: 0px;
  background-color: transparent;
}

.breadcrumb > li, .breadcrumb > li > a {
  font-family: Muli;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.55;
  letter-spacing: 1.9px;
  color: #b90b00;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #b90b00;
}

.main-content {
  padding-top: 0px;
  padding-bottom: 0px;
}

.wrapper {
  padding: 0px;
  max-width: none;
  margin: 0px;
}

.homepage-header {
  text-align: center;
  margin-bottom: 16px;
  font-family: muli;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 1.7px;
  color: #b90b00;
}

.card.product > a > img {
  border: 1px solid #c2d1d9;
}

.card {
  border: none;
}

.card-text {
  font-family: Muli;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: center;
  color: #505d68;
}

ol {
  margin-left: 0px;
}

.divider-line {
  flex-grow: 1;
  height: 2px;
  background-color: #b90b00;
  margin-left: 20px;
}

.product-line {
  flex-direction: row;
  align-items: center;
}

.mt-60 {
  margin-top: 60px;
}
