<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="row">
        <div class="col-12">
          <div class="product-line d-flex">Visit our Queens store<div class="divider-line"></div></div>
        </div>
      </div>
      <div class="row contact-us-info">
        <div class="col-6">
          <div class="google-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3021.776860924662!2d-73.83708758481015!3d40.766932279326035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2600f80ec5e65%3A0xf02fe352a7a2d5d3!2sCrown+Auto!5e0!3m2!1sen!2sus!4v1547175751157" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-6">
          <h2 class="contact-info-header">Our Location</h2>
          <div class="contact-info-text">
            <p>133-38 32nd Ave
            <br>Flushing, NY 11354</p>
            <p>(718) 539-6127</p>
            <p>Business hours:
            <br>Monday-Friday: 8 AM - 6 PM
            <br>Saturday: 8 AM - 3 PM
            <br>Sunday: Closed</p>
            <br>
          </div>
          <div class="contact-info-email">
            <a href="mailto:info@crownautony.com">Email Us</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>

<style>
  .google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
  }

  .google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }

  .product-line {
    font-family: Muli;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.55;
    letter-spacing: 1.9px;
    color: #b90b00;
  }

  .product-line > .divider-line {
    margin-bottom: 0px;
  }

  .contact-us-info {
    margin-top: 30px;
  }

  .contact-info-header {
    font-family: Muli;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.55;
    letter-spacing: 1.9px;
    color: #b90b00;
  }

  .contact-info-text {
    font-family: Muli;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #505d68;
  }
  .contact-info-email > a {
    font-family: Muli;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.9px;
    color: #505d68;
  }
</style>
